body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.pantalla-construccion {
    width: 100%;
    height: 100vh;
}

.enlace-fondo {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-image: url('../img/sitio-en-construccion.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* ---------------------------------------RESPONSIVE--------------------------------------- */

@media (max-width: 768px) {
    .enlace-fondo {
        background-position: center center;
        background-size: contain; 
        background-color: #000;
    }
}
